# Visual Studio Code directory
# .vscode/

# Visual Studio IDE files
*.suo
*.user
*.sln.docstates
*.suo
*.cache
*.userprefs
*.psess
*.vsp
*.vspx
*.vspscc
*_i.c
*_p.c
*.ncb
*.sdf
*.opensdf
*.scc
*.gpState
*.gpState.suo

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# Visual Studio profiling
*.vsp
*.vspx
